<h2> Your extended forecast for <em> <font color="blue"> <%= @wx_presenter.city %> </font>  </em> </h2>
<br><br>
<ul>
  <% @wx_presenter.forecast.each do |day| %>
    <li>Forecast Time: <%= day.day %> </li>
    <li> Forecast: <%= day.temp_text %> </li>
    <li> Chance of Precipitation: <%= day.percent_precip %>% </li>
    <li> <img src=" <%= day.weather_icon_url %> " > </li>
    <br><br><br>
  <% end  %>
</ul>
