<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @user.first_name %>,</h1>
    <p>Below is your trip itinerary: </p>
    <p>City: <%= @trip.start_city%></p>
    <p>Start Date: <%= @trip.start_date%></p>
    <p>End Date: <%= @trip.end_date%></p>
    <br>
    <p>Bret Funk</p>
    <p>Founder and CEO</p>
    <p>Cloney Island Travel</p>
    <div>
      <% @forecast.each do |day| %>
        <li>Time: <%= day.day %> </li>
        <li>Forecast: <%= day.temp_text %> </li>
        <li>Chance of Precipitation: <%= day.percent_precip %>% </li>
        <br><br>
      <% end  %>
    </div>
    </p>
  </body>
</html>
