<ul>
  <li class='new-trip'> <%= @presenter.current_weather.location %> </li>
  <li class='new-trip'> <%= @presenter.current_weather.conditions %> </li>
  <li class='new-trip'> <%= @presenter.current_weather.temp %> </li>
  <li class='new-trip'> <%= @presenter.current_weather.humidity %> </li>
  <li class='new-trip'> <%= @presenter.current_weather.wind %> </li>
  <li> Click here to see an extended forecast</li>
</ul>
