
<!-- hidden params passed into the controller that is the location of this search -->
<div>
    <%= form_tag(weather_path, method: :get, class: 'nav navbar-form navbar-left') do %>
    <%= @presenter.current_weather.location %>
    <%= @presenter.current_weather.conditions %>
    <%= @presenter.current_weather.temp %>
    <%= @presenter.current_weather.humidity %>
    <%= @presenter.current_weather.wind %>
    <% text_field_tag :destination_forecast, @presenter.current_weather.location, class: 'transp-text' %>
    <% text_field_tag :forecast, @presenter.current_weather.location, class: 'transp-text' %>
    <%= submit_tag 'extended forecast', class: 'btn btn-search' %>
  </div>
<% end %>
