<div class="attraction-preview card" data-name="<%= attraction.name %>">
  <a class="attraction-preview-link" href="/search?attraction=<%=attraction.place_id%>"></a>
  <%= link_to '#', class: "remove-attraction-button btn btn-xs btn-warning btn-expand" do %>
    <i class="glyphicon glyphicon-minus"></i>&nbsp&nbsp<strong>REMOVE</strong>
  <% end %>
  <div style="background-image: url(<%= attraction.photo_url %>);" class="city-image attraction-image-container"></div>
  <div class="card-block">
    <h4 class="card-title attraction-preview-name"><%= attraction.name %></h4>
  </div>
</div>
